{% extends 'core/base.html' %}
{% load static %}


{% block content %}
<div class="container">
  <div class="row">
    <div class="col" align="center">
      <p id="idx-p"> "Love programming? Love memes? 9 out of 10 doctors*
        recommend having memes sent to your phone to get your daily dose. Sign
        up by clicking the big green button!" <br/>


      </p>
      <p> * People who claim to be doctors on message boards </p>
    </div>
  </div>

  <div class="row reg-unsub-row">
    <div class="col" align="center">
      <a class="btn btn-success btn-lg" href="/register">Register Now!</a>
      <a class="btn btn-danger btn-lg" href="/unsubscribe">Unsubscribe</a>
    </div>
  </div>

  <div class="row">
    <div class="col-sm-4">
      <img class="exp-img" src={% static 'media/index_meme2.jpg' %} width="282px" height="233px">
    </div>
    <div class="col-sm-4">
      <img class="exp-img" src={% static 'media/index_meme1.jpg' %} width="352px" height="233px">
    </div>
    <div class="col-sm-4">
      <img class="exp-img" src={% static 'media/index_meme3.jpg' %} width="233px" height="233px">
    </div>
  </div>
</div>
{% endblock %}
