{% extends 'core/base.html' %}
{% load static %}

{% block content %}
<div class="row">
  <div class="col">
    <div class="col unsub-col">
      <h2>Unsubscribe</h2>
      {% if error %}
      <ul class="errorList nonfield">
        <li>
          {{ error }}
        </li>
      </ul>
      {% endif %}
      <form method="POST" class="post-form phone-form">{% csrf_token %}
        {{ form.as_p }}
        <button type="submit" class="save btn btn-default">Unsubscribe</button>
      </form>
    </div>
  </div>
</div>
{% endblock %}
